In [1]:
import pandas as pd
import requests
from selenium import webdriver
import time
import random
from tqdm.notebook import tqdm
import requests
#pip install request
#pip install beautifulsoup4
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import requests

In [3]:
url_zip=pd.read_excel('contributor_name.xlsx')

In [4]:
url_zip=url_zip['name']

In [5]:
url_zip[0]

'jeffra'

In [6]:
contributor_url=[]
for i in url_zip:
    api='https://api.github.com/users/'+i
    contributor_url.append(api)

In [8]:
username= '##'
token= '##'

In [9]:
headers = {'Authorization': 'token ' + token}

In [10]:
api_target=['type','company','bio','public_repos','public_gists','followers','following','created_at']

In [11]:
api_contributor_list=[]
from tqdm.notebook import tqdm
import time
for i in tqdm(contributor_url[5000:10000]):
    response = requests.get(i,headers=headers)
    temp=[]
    for j in api_target:
        re_li=response.json()[j]
        temp.append(re_li)
    api_contributor_list.append(temp)

  0%|          | 0/5000 [00:00<?, ?it/s]

In [12]:
from pandas import Series

In [13]:
contributor_type=[]
contributor_company=[]
contributor_description=[]
contributor_repos=[]
contributor_gists=[]
contributor_followers=[]
contributor_following=[]
contributor_date=[]

for i in api_contributor_list:
    contributor_type.append(i[0])
    contributor_company.append(i[1])
    contributor_description.append(i[2])
    contributor_repos.append(i[3])
    contributor_gists.append(i[4])
    contributor_followers.append(i[5])
    contributor_following.append(i[6])
    contributor_date.append(i[7])

In [14]:
aa=Series(data=contributor_type)
bb=Series(data=contributor_company)
cc=Series(data=contributor_description)
dd=Series(data=contributor_repos)
ee=Series(data=contributor_gists)
ff=Series(data=contributor_followers)
gg=Series(data=contributor_following)
hh=Series(data=contributor_date)

In [15]:
fifinal=pd.concat([aa,bb,cc,dd,ee,ff,gg,hh],axis=1)
fifinal.columns=['type','company','description','repos','gists','followers','following','date']
fifinal

,type,company,description,repos,gists,followers,following,date
0,User,None,developer,60,4,5,11,2016-05-11T03:48:51Z
1,User,None,None,4,0,0,0,2020-03-15T16:54:19Z
2,User,None,None,6,0,0,1,2019-09-13T05:24:21Z
3,User,None,None,28,0,7,7,2018-07-04T06:23:48Z
4,User,None,"Passionate Learner in the field of ML , Deep l...",19,0,2,1,2019-09-10T18:04:44Z
...,...,...,...,...,...,...,...,...
4995,User,None,None,7,0,1,1,2020-02-01T05:34:58Z
4996,User,None,Data Science | Machine Learning and Deep Learn...,3,0,1,0,2020-09-16T18:50:58Z
4997,User,None,None,2,0,2,0,2020-09-30T08:52:57Z
4998,User,DGIST,None,37,0,3,9,2016-04-01T06:29:41Z
4999,User,None,Game Programmer | Unity Student Ambassador | D...,20,0,14,17,2019-06-14T18:37:33Z